.header {
    background: burlywood;
    position: relative;
    min-height: 72px;
    display: flex;
}

.link {
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 8px;
}
